@font-face {
    font-family: 'ahsingRegular';
    src: url(../assets/fonts/Ahsing-Regular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sportingGrotesque';
    src: url(../assets/fonts/SportingGrotesque-Regular.otf);
}
@font-face {
    font-family: 'cyrene';
    src: url(../assets/fonts/Cyrene-Regular.otf);
}
body {
    background-color: honeydew;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    margin: auto;
    background: transparent;
    z-index: 1;
    mix-blend-mode: exclusion;
    flex-wrap: nowrap;
}
.nav-link {
    color: coral;
}
.nav-item a:hover {
    color: honeydew;
} 

.navLeft {
    display: flex;
    float: left;
    font-family:'sportingGrotesque';
    font-weight: 1000;
    margin-left: 40px;
    
}
.navRight {
    display: flex;
    float: right;
    font-family:'sportingGrotesque';
    font-weight: 1000;
    margin-right: 40px;
}
.navTitle {
   font-family: 'ahsingRegular';
   color:coral;
   font-size: 3rem;
}

.jumbotron-fluid {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0;
    height: 500px;
    background: url(../assets/images/jumbotron2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    color:honeydew;
}
.lead {
    color: honeydew;
}
h1 {
    font-family:'cyrene';
    font-size: 8rem !important;
}
.lead {
    font-family: 'sportingGrotesque';
}
h2 {
    justify-content: center;
}
.portfolio {
    background-color:honeydew;
}
.portfolioTitle {
    background-image: url(../assets/images/title.jpg);
    background-clip: text;
    height: 50px;
    padding-top: 7px;
    color: transparent;
    background-size:cover;
    background-repeat: no-repeat;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
    display: flex;
    justify-content: center;
}

.portfolioCards {
    display: flex;
    padding: 0;
    font-family: 'sportingGrotesque';
    padding-left: 5px;
    padding-right: 5px;  
    justify-content: center;
    background-color: honeydew;
}
.row {
    margin-left: 0;
    margin-right: 0;
}

.card-title {
    color:honeydew;
    mix-blend-mode: luminosity;
}
.card-text {
    color:honeydew;
    font-size: auto;
    display: flex;
    justify-content: flex-end;

}
.card {
    padding: 3px;
    border: none;
    background-color: honeydew;
}
.cardImage {
    width:100%;
    max-height:100%;
    object-fit:contain;
    overflow: hidden;
    border-color: honeydew;
    border-radius: 1%;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
}
.portfolioCards a:link, a:visited, a:active {
    color: honeydew;
}

.portfolioCards a:hover {
    color: coral;
    text-decoration:none;
    mix-blend-mode:exclusion;
}

.mySkills {
    background-color: honeydew;
}
.mySkillsTitle {
    background-image: url(../assets/images/title.jpg);
    background-clip: text;
    height: 50px;
    padding-top: 7px;
    color: transparent;
    background-size:cover;
    background-repeat: no-repeat;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
    display: flex;
    justify-content: center;
    font-family:'sportingGrotesque';
}
.mySkillsSection {
    height: 50px;
    background-image: url(../assets/images/gradient2landscape.jpg);
    background-size: cover;
    font-family:'sportingGrotesque';
    color: honeydew;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
}
.myWork {
    font-family:'sportingGrotesque';
}
    
.body {
    background-color:honeydew;
}

.aboutMe {
    background-color: honeydew;
}
.aboutMeTitle {
    background-image: url(../assets/images/title.jpg);
    background-clip: text;
    height: 50px;
    padding-top: 7px;
    color: transparent;
    background-size:cover;
    background-repeat: no-repeat;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
    font-family: 'sportingGrotesque';
    display: flex;
    justify-content: center;
}
.aboutMeSection {
    min-height: 300px;
    background-image: url(../assets/images/gradient3landscape.jpg);
    display: flex;
    background-size: cover;
    text-align: justify;
    justify-content: flex-start;
}
.aboutMeText {
    font-family:'sportingGrotesque' ;
    margin-top: 20px;
    color: honeydew;
    margin-right: 20px;
    float:left;
}
.avatar {
    float: left;
    border-color:honeydew; 
    border-style: solid;
    border-width: 1px;
    border-radius: 1%;
    margin: 20px;
    max-height: 300px;
}
.contactTitle {
    background-image: url(../assets/images/title.jpg);
    background-clip: text;
    height: 50px;
    padding-top: 7px;
    color: transparent;
    background-size:cover;
    background-repeat: no-repeat;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
    font-family: 'sportingGrotesque';
    display: flex;
    justify-content: center;
}
.contactSection {
    height: 100px;
    background-image: url(../assets/images/gradient1landscape.jpg);
    background-size: cover;
    font-family:'sportingGrotesque';
    color: honeydew;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    gap: 20px;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
.empty2 {
    margin-left: 30px;
}
.btn {
    color: honeydew;
    border-color: honeydew;
}

footer {
    background-image: url(../assets/images/title.jpg);
    background-clip: text;
    height: 50px;
    padding-top: 7px;
    color: transparent;
    background-size:cover;
    background-repeat: no-repeat;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
    font-family: 'sportingGrotesque';
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.name {
    font-family: 'ahsingRegular';
    padding-left: 7px;
    font-size: 19px;
}
@media only screen and (max-width:960px) {
    .navLeft {
        margin-left: 20px;
    }
    .navRight {
        margin-right: 20px;
}
.navTitle {
    font-family: 'ahsingRegular';
    color:coral;
    font-size: 1.75rem;
 }
.nav {
    font-size: 10px;
}
}