@font-face {
    font-family: 'ahsingRegular';
    src: url(../assets/fonts/Ahsing-Regular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sportingGrotesque';
    src: url(../assets/fonts/SportingGrotesque-Regular.otf);
}
@font-face {
    font-family: 'cyrene';
    src: url(../assets/fonts/Cyrene-Regular.otf);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    margin: auto;
    background: transparent;
    z-index: 1;
    mix-blend-mode:exclusion;
}

.nav-link {
    color:white;
}
.navLeft {
    display: flex;
    float: left;
    font-family:'sportingGrotesque';
    font-weight: 1000;
    margin-left: 40px;
    
}
.navRight {
    display: flex;
    float: right;
    font-family:'sportingGrotesque';
    font-weight: 1000;
    margin-right: 40px;
}
.navTitle {
   font-family: 'ahsingRegular';
   color: white;
   font-size: 3rem;
}

.jumbotron-fluid {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0;
    height: 500px;
    background: url(../assets/images/jumbotron2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    color:whitesmoke;
}
.lead {
    color: palevioletred;
}
h1 {
    font-family:'cyrene';
    font-size: 8rem !important;
}
.lead {
    font-family: 'sportingGrotesque';
}
h2 {
    justify-content: center;
}
.portfolio {
    background-color: whitesmoke;
}
.portfolioTitle {
    background-image: url(/assets/images/jumbotron2.jpg);
    background-clip: text;
    height: 50px;
    padding-top: 7px;
    color: transparent;
    background-size:cover;
    background-repeat: no-repeat;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
}

.portfolioCards {
    background-color: whitesmoke;
    background-size: cover;
    display: flex;
    padding: 0;
    font-family: 'sportingGrotesque';
    background-color: whitesmoke;
}

.card-title {
    color:whitesmoke;
}
.card-text {
    color:whitesmoke;
}
.card {
    padding: 0;
    border: none;
    border-radius: none !important;
}

.mySkillsTitle {
    background-image: url(/assets/images/jumbotron2.jpg);
    background-clip: text;
    height: 50px;
    padding-top: 7px;
    color: transparent;
    background-size:cover;
    background-repeat: no-repeat;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
}
.mySkillsSection {
    height: 300px;
    background-color: antiquewhite;
}
.myWork {
    font-family:'sportingGrotesque';
}

.mySkillsTitle {
    font-family:'sportingGrotesque';
}
.body {
    background-color: bisque;
}
.aboutMeTitle {
    background-image: url(/assets/images/jumbotron2.jpg);
    background-clip: text;
    height: 50px;
    padding-top: 7px;
    color: transparent;
    background-size:cover;
    background-repeat: no-repeat;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
    font-family: 'sportingGrotesque';
}

.aboutMeSection {
    height: 300px;
    background-color: antiquewhite;
}